<?xml version="1.0" encoding="utf-8"?>
<configuration>
  	<!-- NOTE: System.Diagnostics Traces only write when DEBUG or TRACE symbols are defined at compile time. -->
	<system.diagnostics>
		<switches>
			<add name="Microsoft.Owin" value="Information" />
		</switches>
		<sharedListeners>
			<add name="console" type="System.Diagnostics.ConsoleTraceListener" /> 
			<!-- <add name="logfile" type="System.Diagnostics.TextWriterTraceListener" initializeData="output.log" />-->
		</sharedListeners>

		<trace autoflush="true">
			<listeners>
				<add name="console" />
				<!-- <add name="logfile" />	-->
				<remove name="Default" />
			</listeners>
		</trace>

		<sources>
			<source name="Microsoft.Owin" switchValue="Information">
                <listeners>
                	<add name="console" />
					<!-- <add name="logfile" /> -->
                </listeners>
              </source>
		</sources>
	</system.diagnostics>
</configuration>